* {
  box-sizing: border-box;
  --darkColor: #926239;
  --brightColor: #fff;
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

header {
  min-height: 100vh;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  color: var(--darkColor);
  background-image: url(assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.125rem;
  line-height: 3.75rem;
}

.pHeader {
  font-size: 1.25rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
  padding: 10px 20px;
  margin: 20px 0 0;
  border: 1px solid rgb(146, 98, 57);
  border-radius: 10%;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.7rem;
}

.sectionFirstMain {
  background-color: var(--darkColor);
  padding: 20px;
}

.pMainFirst {
  color: var(--brightColor);
  font-size: 1rem;
}

.sectionSecondMain {
  background-color: rgb(244, 244, 244);
  padding: 20px;
}

.pMainSecond {
  color: var(--darkColor);
  font-size: 1rem;
}

footer {
  display: flex;
  text-align: left;
}

.sectionFooterFirst,
.sectionFooterThird {
  background-color: var(--darkColor);
  padding: 20px;
}

.sectionFooterSecond {
  background-color: var(--brightColor);
  padding: 20px;
}
.pFooterFirst,
.pFooterThird {
  color: var(--brightColor);
  font-size: 1rem;
  line-height: 1.7rem;
}

.pFooterSecond {
  color: var(--darkColor);
  font-size: 1rem;
  line-height: 1.7rem;
}
